<a href="https://colab.research.google.com/github/rpizarrog/probabilidad-y-estad-stica/blob/master/Python%202023/caso_06_Combinaciones_y_probabilidad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Objetivo

# Objetivo

Construir combinaciones de conjuntos de datos de nombres de personas y de símbolos alfabéticos y *dígitos*.

# Descripción

A partir de conjuntos datos (valores individuales) realizar **combinaciones** para conocer el número de las mismas y el acomodo de los valores para su interpretación en términos de probabilidad.

- Cargar librerías

- Identificar fórmula de factorial

- Identificar fórmula de combinaciones

- Construir los datos (personas y caracteres)

- Determinar probabilidades a partir del espacio muestral de las combinaciones

- Encontrar probabilidad con base en frecuencia o contabilizar eventos específicos del espacio muestral

- Interpretar el caso

In [ ]:
nombres = ["Oscar", "Paco", "Paty", "Laura", "Rubén", "Luis", "Lucy", "Alberto", "Juan"]
n <- length(nombres)
r <- 2 # ¿cómo agrupar?

Cn <- factorial(n) / (factorial(r) * factorial(n-r))

paste("Existen ", Cn , " posibles combinaciones del total de ", n , " nombres ", " en grupos de ", r ," en ", r)

# Marco conceptual

Para hacer combinaciones es necesario identificar la importancia del valor factorial de un número

## Factorial

El factorial de un número es el producto de $n$ por todos los naturales menores que el y se representa con el $!n$, entonces $n!=n\times(n-1)...\times 1$.

La notación ! significa factorial; por ejemplo, 5 factorial es $5! = (5)\cdot(4)\cdot(3)\cdot(2)\cdot(1) = 120$.

Nota: Factorial de $0! = 1$

La función factorial es una fórmula matemática representada por el signo de exclamación $!$. En la fórmula Factorial se deben multiplicar todos los números enteros y positivos que hay entre el número que aparece en la fórmula y el número $1$.

Ejemplo: hallar el factorial de 6 o se sea $6!=6\times5\times4\times3\times2\times1=720$

## Combinaciones

La regla de conteo de *combinaciones* permite contar el número de resultados experimentales cuando el experimento consiste en $r$ objetos de un conjunto (usualmente mayor) de $n$ objetos.

El número de combinaciones distintas de $n$ objetos distintos que se pueden formar, tomando $r$ de ellos a un tiempo.

### Fórmula de combinaciones sin repetición

Fórmula de combinaciones en donde no se puede repetir el mismo valor (sin repetición)

$$
S=Cn\binom{n}{r} = \frac{n!}{(r!\cdot(n-r)!)}\\S \text{ es el espacio muestral y la cantidad de combinaciones} \\Cn \text{ es el número de combinaciones posibles}\\ \binom{n}{r} \text {es símbolo de combinar n elementos en grupos de r}\\ n \text{ es el total de elementos}\\ r \text{ es de cuantos en cuantos elementos se hacen grupos}
$$

#### Ejemplo 1. Nombres de personas

Se trata de hacer combinaciones sin repetición con los nombres de diez personas: "Oscar", "Paco", "Paty", "Laura", "Rubén", "Luis", "Lucy", "Alberto", "Juan", "Danny" en grupos de dos.

Entonces $n=10$, porque hay diez nombres o elementos y $r=2$ porque se trata de agrupar de dos en dos.

¿Cuántas combinaciones deberá haber?

-   Oscar y Paco
-   Oscar y Paty
-   Oscar y Laura
-   Paco y Paty
-   ... ...
-   Paty y Laura
-   ... ...
-   Juan y Laura

$$
Cn\binom{n}{r} = \frac{n!}{(r!\cdot(n-r)!)} \therefore \\
Cn\binom{n=10}{r=2} = \frac{10!}{2!\cdot(10-2)!} =\frac{10!}{2!\cdot 8!}=\frac{3628800}{2\cdot 40320} = \frac{3628800}{80640}=45
$$

In [14]:

import math as mt # Para utilziar factorial
from itertools import combinations

nombres = ["Oscar", "Paco", "Paty", "Laura", "Rubén", "Luis", "Lucy", "Alberto", "Juan", "Danny"]
n = len(nombres)
r = 2 # ¿cómo agrupar?

Cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n-r))

print("Existen ", Cn , " posibles combinaciones sin repetición del total de ", n , " nombres ", " en grupos de ", r ," en ", r)

print("Aquí las combinaciones")
combinaciones_nombres = list(combinations(nombres, r))

# Imprime las combinaciones
for combinacion in combinaciones_nombres:
  print(combinacion)

Existen  45.0  posibles combinaciones sin repetición del total de  10  nombres   en grupos de  2  en  2
Aquí las combinaciones
('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Rubén')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Rubén')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Rubén')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Rubén')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Rubén', 'Luis')
('Rubén', 'Lucy')
('Rubén', 'Alberto')
('Rubén', 'Juan')
('Rubén', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')

#### Ejemplo 2. Caracteres alfabéticos y dígitos.

Se trata de hacer combinaciones con los caracteres del alfabeto español: "A", "B", "C", "D", "E", "F"; los dígitos 0 al 9:  "0", "1", "2", "3", "4", "5".

Entonces hay $n=12$ caracteres, y se van a formar cadenas de $r=10$ porque se trata de agrupar de diez en diez.

$$
Cn\binom{n}{r} = \frac{n!}{(r!\cdot(n-r)!)} \therefore \\
Cn\binom{n=12}{r=10} = \frac{12!}{10!\cdot(12-10)!} =\frac{12!}{10!\cdot 2!}=\frac{479001600}{3628800 cdot 2} = \frac{479001600}{3 7257600}=66
$$

In [3]:
import math as mt # Para utilizar factorial
from itertools import combinations

caracteres = ["A", "B", "C", "D", "E", "F", "0", "1", "2", "3", "4", "5"]
n = len(caracteres)
r = 10 # ¿cómo agrupar?

Cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n-r))


print("Existen ", Cn , " posibles combinaciones sin repetición del total de ", n , " caracteres ", " en grupos de ", r ," en ", r)

print("Aquí las combinaciones")
combinaciones_caracteres = list(combinations(caracteres, r))

# Imprime las combinaciones
for combinacion in combinaciones_caracteres:
  print(combinacion)

Existen  66.0  posibles combinaciones sin repetición del total de  12  caracteres   en grupos de  10  en  10
Aquí las combinaciones
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '3')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', '0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', '0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'F', '0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', '0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'F', '0', '1', '2', '3', '4', '5')
('A', 'B', 'E', 'F', '0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', '0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'F', '0', '1', '2', '3', '4', '5')
('A', 'C', 'E', 'F', '0', '1', '2', '3', '4', '5')
('A', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', '0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'F', '0', '1', '2', '3', '4', '5')
('B', 'C', 'E', 'F', '0', '1', '2', '3', '4', '5')
('B', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')
('C', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')

## Fórmula de combinaciones con repetición

$$
CnR\binom{n}{r}=\binom{(r+n−1)!}{r!⋅(n−1)!}
$$

### Ejemplo 3 LAnzamiento de dos datos con repetición R.

Se trata de encontrar las posibles combinaciones con repetición de los dos dados. Se identifica el dado 1 y al dado 2.

$$
n = 6 ; r = 2
$$

$$
CnR\binom{n}{r}=Cn\binom{n=(n+r-1)}{r=r} \therefore\\Cn\binom{n=(6+2-1)}{r=2}=\binom{n=7}{r=2}=\frac{n!}{r!\cdot(n-r)!}\therefore\\=\frac{7!}{2!\cdot(6-2)!}=\frac{7!}{2!\cdot5!}\\=\frac{5040}{2\cdot120}=\frac{5040}{240}=21
$$

In [18]:
import math as mt # Para utilizar factorial
from itertools import combinations_with_replacement

dado = [1, 2, 3, 4, 5, 6]
n = len(dado)
r = 2 # ¿cómo agrupar?, de dos en dos porque hay dos dados

CnR = mt.factorial(n+r-1) / (mt.factorial(r) * mt.factorial((n+r-1)-r))


print("Existen ", CnR , " posibles combinaciones con repetición del total de ", n , " caracteres ", " en grupos de ", r ," en ", r)

print("Aquí las combinaciones con repetición de dos dados")


# Definir el conjunto de elementos
elementos = [1, 2, 3, 4, 5, 6]

# Número de elementos a elegir en cada combinación
r = 2

# Calcular las combinaciones con repetición
combinaciones_dados = list(combinations_with_replacement(dado, r))

# Imprimir las combinaciones
for combinacion in combinaciones_dados:
    print(combinacion)

Existen  21.0  posibles combinaciones con repetición del total de  6  caracteres   en grupos de  2  en  2
Aquí las combinaciones con repetición de dos dados
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(4, 4)
(4, 5)
(4, 6)
(5, 5)
(5, 6)
(6, 6)

# Interpretación

El resultado de las combinaciones permite construir un espacio muestral que ofrece la oportunidad de conocer en términos de probabilidad, la cantidad de ocasiones y lo que representa un evento conforme a todo el espacio muestral, es decir frecuencia y frecuencia porcentual.

Puede haber combinacions sin repetición, y combinaciones con repetición, la diferencia es que en combinaciones con repetición, se puede repetir el mismo valor en la agrupación ocomo una opción; las fórmulas matemáticas indican la diferencia.

Preguntas:

¿En cuántas ocasiones aparece el nombre de 'Laura' en combinaciones de dos en dos?. Aparece nueve ocasiones.

In [13]:
# Imprime las combinaciones
for combinacion in combinaciones_nombres:
    print(combinacion)

# Cuántas veces aparece "Laura"
# Contador para almacenar la cantidad de combinaciones que contienen "Laura"
contador = 0
nombre_a_buscar = 'Laura'

for combinacion in combinaciones_nombres:
  if nombre_a_buscar in combinacion:
    contador += 1

print(f"'{nombre_a_buscar}' aparece en {contador} de las {len(combinaciones_nombres)} combinaciones posibles.")

('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Rubén')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Rubén')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Rubén')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Rubén')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Rubén', 'Luis')
('Rubén', 'Lucy')
('Rubén', 'Alberto')
('Rubén', 'Juan')
('Rubén', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')
'Laura' aparece en 9 de las 45 combinaciones posibles.

¿En cuántas ocasiones aparece el nombre de 'Oscar' en las combinaciones de dos en dos?, Aparece nueve ocasiones.

In [15]:
# Imprime las combinaciones
for combinacion in combinaciones_nombres:
    print(combinacion)

# Cuántas veces aparece "Oscar"
# Contador para almacenar la cantidad de combinaciones que contienen "Oscar"
contador = 0
nombre_a_buscar = 'Oscar'

for combinacion in combinaciones_nombres:
  if nombre_a_buscar in combinacion:
    contador += 1

print(f"'{nombre_a_buscar}' aparece en {contador} de las {len(combinaciones_nombres)} combinaciones posibles.")

('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Rubén')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Rubén')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Rubén')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Rubén')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Rubén', 'Luis')
('Rubén', 'Lucy')
('Rubén', 'Alberto')
('Rubén', 'Juan')
('Rubén', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')
'Oscar' aparece en 9 de las 45 combinaciones posibles.

¿En cuántas ocasiones aparece en primera columna 'Rubén' y 'Paco' o 'Paty' en segunda columna?. Parece que en 0 ocasiones.

In [17]:
# Imprime las combinaciones
for combinacion in combinaciones_nombres:
    print(combinacion)

# Cuántas veces aparece "Rubén" y "Paco" o "Paty"
# Contador para almacenar la cantidad de combinaciones
contador = 0

for combinacion in combinaciones_nombres:
    if combinacion[0] == "Rubén" and (combinacion[1] == "Paco" or combinacion[1] == "Paty"):
        contador += 1

print("Hay ", contador, "combinaciones de ", "'Rubén', 'Paco' o 'Luis'")

('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Rubén')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Rubén')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Rubén')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Rubén')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Rubén', 'Luis')
('Rubén', 'Lucy')
('Rubén', 'Alberto')
('Rubén', 'Juan')
('Rubén', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')
Hay  0 combinaciones de  'Rubén', 'Paco' o 'Luis'

En la combinación de caracteres, ¿en cuántas ocasiones aparece la secuencia '1', '2', '3', '4'?.

In [ ]:
# Pendiente
# Elaborar el código de solución

En las combinaciones de los dos dados con repetición, ¿en cuántas ocaciones aparecen repetidos los números: 1,1; 2,2; 3,3; 4,4; 5,5; y 6,6?. Deben ser 6.

In [ ]:
# Pendiente solución
# Hacer el código

Describir con al menos 100 palabras lo aprendido del caso